@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.toggel{
  background-color: #32323a;
  border: 2.5px solid var(--text-color);
  width: 70px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  transition: all 0.5s;

}
.toggel input{
  display: none;
}
.toggel::before{
  content: "";
  height: 20px;
  width: 20px;
  background-color: var(--main-color);
  border-radius: 25px;
}
ul{
  list-style: none;
}
